.DS_Store
firmware_versions/snapper/build/*.axf
firmware_versions/snapper/build/*.bin
firmware_versions/snapper/build/*.hex
firmware_versions/snapper/build/*.lst
firmware_versions/snapper/build/*.map
firmware_versions/snapper/build/objects/*.d
firmware_versions/snapper/build/objects/*.o

firmware_versions/snapper-accelerometer/build/*.axf
firmware_versions/snapper-accelerometer/build/*.bin
firmware_versions/snapper-accelerometer/build/*.hex
firmware_versions/snapper-accelerometer/build/*.lst
firmware_versions/snapper-accelerometer/build/*.map
firmware_versions/snapper-accelerometer/build/objects/*.d
firmware_versions/snapper-accelerometer/build/objects/*.o

firmware_versions/snapper-pressure-sensor/build/*.axf
firmware_versions/snapper-pressure-sensor/build/*.bin
firmware_versions/snapper-pressure-sensor/build/*.hex
firmware_versions/snapper-pressure-sensor/build/*.lst
firmware_versions/snapper-pressure-sensor/build/*.map
firmware_versions/snapper-pressure-sensor/build/objects/*.d
firmware_versions/snapper-pressure-sensor/build/objects/*.o
